.btn {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 2px solid #57cc99;
  background: #57cc99;
  margin: 1px;
  text-align: center;
}
.btn:hover {
  background: #fff;
  color: #57cc99;
}
.btn:active {
  top: 2px;
}